<!DOCTYPE html>
<html lang="en">
<title>QR Confirmation</title>
 
    <meta charset="utf-8"> 
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="../js/hamburger.js"> </script>
<style>
    .mySlides {display:none;}
    .w3-UbuntuFont {
    font-family: Ubuntu, "times new roman", times, roman, serif;
    }
  </style>
  <body>
  <br>
  <!--Beginning of the Logo and Catchprase -->

  <div class="w3-row w3-white w3-container w3-margin w3-padding"></div>

<!--End of Logo and Catchphrase -->

<!--Beginning of the Navigation Bar -->
<div class="w3-top">
<ul class="w3-navbar w3-mobile w3-card-2 w3-animate-top w3-large w3-black w3-left-align" >
  <li class="w3-hide-medium w3-hide-large w3-black w3-opennav w3-right">
    <a href="javascript:void(0);" onclick="hamburgerFunction()">&#9776;</a>
  </li>
  <li><a href="/"><i class="fa fa-home w3-xlarge"></i></a></li>
  <li class="w3-right w3-hide-small"><a href="../login"><i class="fa fa-sign-in w3-large"></i></a></li>
</ul>
</div>
<div id="hamburger" class="w3-hide w3-hide-large w3-hide-medium">
  <ul class="w3-navbar w3-middle-align w3-large w3-grey">
    <li><a href="../login">Sign In</a></li>
  </ul>
</div>
<!--End of the Navigation Bar -->